@import url("reset.css");

:root {
  --bg-color: #0AA1DD;
  --primary-color: #E8F9FD;
}

body, input, select, textarea, button {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1.25rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 0.75rem;
  margin: 1.25rem;
}

.jogar-novamente {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin-top: 1.25rem;
  cursor: pointer;
}